extends ../../layout/default.pug
block main 
    h1 Tạo danh mục
    form(
        action=`${prefixAdmin}/category-product/create` 
        method="post"
        enctype="multipart/form-data"
    )
        .form-group
            label(for="title") Tiêu đề
            input(type="text" class="form-control" id="title" name="title" value="")
        .form-group
            label(for="parent") Danh mục cha
            select(name="parent" id="parent" class="form-control")
                option(value="" selected) CHỌN DANH MỤC
                if(category)
                    each item in category
                        option(value=item._id) #{item.title}
        .form-group
            label(for="desc") Miêu tả
            textarea(type="text" class="form-control" id="desc" rows="5" name="desc" value="")
        .form-group
            label(for="quantity") Vị trí
            input(type="number" class="form-control" id="quantity" min="1" value="1" name="position")    
        .form-group
            label(for="image") Ảnh sản phẩm
            input(type="file" class="form-control-file" id="image" name="uploaded_file")     
            img(
                id="ImgPreview"
                src=""
                alt="Your Image"
            )
            button(
                class="btn btn-danger hidden-button"
                id="button-remove-img"
            ) Xóa ảnh
        div(
            class="form-check form-check-inline"
        )  
            input(
                class="form-check-input" type="radio" name="status" id="inlineRadio1" value="active"
                checked
            )
            label(for="inlineRadio1" class="form-check-label" ) hoạt động
        div(
            class="form-check form-check-inline"
        )  
            input(
                class="form-check-input" type="radio" name="status" id="inlineRadio1" value="active"
            )
            label(for="inlineRadio1" class="form-check-label" ) Dừng hoạt động
        .form-group
            button(
                class="btn btn-primary"
                type="submit"
            ) Gửi
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    <script type="application/javascript" src= "/js/tinymce-config.js"></script>