extends ../../layout/default.pug
include ../../mixins/button

block main 
    h1 Thêm mới tài khoản
    .card.mb-3 
        .card-header Danh sách 
        .card-body 
            .col-8 
            .col-4 
                a(
                    class="btn btn-success"
                    href=`${prefixAdmin}/account/create`
            ) +Thêm tài khoản 
    .card.mb-3
        .card-header  Danh sách
        .card-body
            table.table.table-sm.custom-class(
                checkbox-multi
            )
                thead
                    tr 
                        th STT 
                        th Avatar
                        th Họ tên
                        th Phân quyền
                        th email
                        th Trạng thái
                        th Hành động
                tbody  
                    each item,index in records
                        if(item.deleted == false)
                            tr 
                                td #{index+1}
                                td 
                                    img(src=item.image, alt="Ảnh sản phẩm",width="50px",height="auto")
                                td #{item.name}
                                td #{item.role.title}
                                td #{item.email}
                                td 
                                    if item.status == "active"
                                        +button("badge-success","Hoạt động","active",item._id)
                                    else
                                        +button("badge-danger","Dừng hoạt động","inactive",item._id)
                                td 
                                    a(
                                        href=`${prefixAdmin}/account/detail/${item._id}`
                                        class="btn btn-success"
                                    )   Chi tiết
                                    a(
                                        href=`${prefixAdmin}/account/edit/${item._id}`
                                        class="btn btn-warning"
                                    )  Sửa
                                    button(
                                        type="button"
                                        class="btn btn-danger"
                                        data-id=item._id
                                        button-delete
                                    ) Xóa
        