extends ../../layout/auth.pug
block main 
    - if(messages.error)
                .message.error
                    div(
                        class="alert alert-danger"
                        role="alert"
                        show-alert 
                        data-time="5000"
                    )
                        span= messages.error
    .login-wrapper
        h1 Login
        form(
            action=`${prefixAdmin}/auth/login`
            method="POST"
        )
            .input-field 
                <input type="text" name="email" required="" style="color:white;">
                <label>User name</label>
            .input-field 
                <input type="password" name="password" required=""style="color:white;">
                <label>Password</label>
            .password-option 
                label 
                    input(type="checkbox")
                    p Remember me
                a(href="#") Forgot password
            <button class="custom-btn btn-5"><span>Login</span></button>
            .account-option
                p Don't have an account ?
                    a(href="#")  Register
            .social 
                ul 
                    li 
                        <i class="fa-brands fa-facebook"></i>
                    li 
                        <i class="fa-brands fa-google"></i>
                    li 
                        <i class="fa-brands fa-twitter"></i>   
